{% extends 'index.html' %}
{% block title %}About-Us{% endblock title %}

{% block body %}
<div class="container">
<div class="header ">
  <h1>Abhishek kumar</h1>
</div>

<div class="row">
  <div class="col-4 col-s-3 menu">
    <ul>
      <li>Projects</li>
      <li>Experience</li>
      <li>Certifications</li>
      <li>Contact Info</li>
    </ul>
  </div>

  <div class="col-4 col-s-9">
    <h1>Software Developer</h1>
    <p>I am a Full stack web Develope and Machine learning Engineer.</p>
  </div>

  <div class="col-4 col-s-12">
     
      <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="abhishek-kumar-software-developer"><a class="LI-simple-link" href='https://in.linkedin.com/in/abhishek-kumar-software-developer?trk=profile-badge'>Abhishek Kumar</a></div>
 
  </div>
</div>
</div>
<div class="footer container">
  <p>This is my own designed and developed website which contains all the projects.</p>
</div>
{% endblock body %}


